We have already loaded some common Python libraries below. Depending on the functions you use, please load the appropriate libraries in the cell below.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Loading
Loading the two dataset files "Cycle_and_pedestrian data.csv" and "Weather_data.csv".

In [8]:
df_1 = pd.read_csv("Cycle_and_pedestrian data.csv", header=0)
print(df_1.info())
df_1.head()

,Date,"Eleanor Schonell Bridge, St Lucia Cyclist","Eleanor Schonell Bridge, St Lucia Pedestrian","Jack Pesch Bridge, Indooroopilly Pedestrian","Jack Pesch Bridge, Indooroopilly Cyclist"
0,"Sat, 01 01 22",270.40,806,310,142
1,"Sun, 02 01 22",880.10,782,724,829
2,"Mon, 03 01 22",888.55,692,600,801
3,"Tue, 04 01 22",1041.30,681,399,578
4,"Wed, 05 01 22",1011.40,766,462,588

In [11]:
df_2 = pd.read_csv("Weather_data.csv", header=0)
print(df_2.info())
df_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  365 non-null    object
 1   Maximum temperature (Degree C)        365 non-null    float64
 2   Daily global solar exposure (MJ/m*m)  363 non-null    float64
 3   Rainfall amount (millimetres)         360 non-null    float64
dtypes: float64(3), object(1)
memory usage: 11.5+ KB
None

,Date,Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Rainfall amount (millimetres)
0,1-Jan-22,26.6,10.1,NaN
1,2-Jan-22,27.7,17.8,NaN
2,3-Jan-22,30.2,23.4,0.0
3,4-Jan-22,31.8,26.4,0.0
4,5-Jan-22,30.3,23.8,0.2

Convert the values in the Date column (which are in the object data type by default) in both dataframes to datetime objects. This will allow for easier manipulation using datetime properties.

In df_1 the date is given as Sat, 01 01 22 which corresponds to the format "%a, %d %m %y".
In df_2 the date is given as 1-Jan-22 which corresponds to the format "%d-%b-%y".

In [16]:
df_1['Date'] = pd.to_datetime(df_2['Date'], format='%a, %d %m %y')
df_2['Date'] = pd.to_datetime(df_2['Date'], format='%d-%b-%y')

In [17]:
print(df_1.info())
print(df_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date                                          365 non-null    datetime64[ns]
 1   Eleanor Schonell Bridge, St Lucia Cyclist     365 non-null    float64
 2   Eleanor Schonell Bridge, St Lucia Pedestrian  365 non-null    int64
 3   Jack Pesch Bridge, Indooroopilly Pedestrian   365 non-null    int64
 4   Jack Pesch Bridge, Indooroopilly Cyclist      365 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 14.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  365 non-null    datetime64[ns]
 1   Maximum temperature (Degree C)        365 non-null    float64
 2   Daily global solar exposure (MJ/m*m)  363 non-null    float64
 3   Rainfall amount (millimetres)         360 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 11.5 KB
None